.nav-link {
    color: white;
}
.row {
    text-align: center;
}
.lead {
    font-family: sans-serif;
}
.btn {
    border-radius: 20px
}
img {
    border-radius: 50px;
    width: 300px;
    height: 200px;
    transition-duration: 300ms;
}
img:hover {
    transform: scale(1.1);
}
.buffer {
    size: 10rem;
}